.sass-cache/
*.css.map
*.sass.map
*.scss.map
app/public/*
!app/public/wp-content/
app/public/wp-content/*
!app/public/wp-content/themes/
app/public/wp-content/themes/*
!app/public/wp-content/themes/botanica/
app/public/wp-content/themes/botanica/*
!app/public/wp-content/themes/botanica/src/
app/public/wp-content/themes/botanica/src/temp
!app/public/wp-content/themes/botanica/tailwind.config.js
!app/public/wp-content/themes/botanica/package.json
!app/public/wp-content/themes/botanica/package-lock.json
!app/public/wp-content/themes/botanica/tailwind.config.js
!app/public/wp-content/themes/botanica/gulpfile.js
conf/
logs/
node_modules/
site_resources/
*.code-workspace
dest/
app/sql/local.sql
