.sass-cache/
*.css.map
*.sass.map
*.scss.map
app/public/*
!app/public/wp-content/
app/public/wp-content/*
!app/public/wp-content/themes/
app/public/wp-content/themes/*
!app/public/wp-content/themes/botanica/
app/public/wp-content/themes/botanica/*
!app/public/wp-content/themes/botanica/src/
conf/
logs/
node_modules/
site_resources/
*.code-workspace
dest/
app/sql/local.sql
