@use "base";
@import "base";

#rbb-page-title {
    position: relative;

    /* Essential for positioning the pseudo-element */
    /* Keep existing background-image and background-color: black; */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Black with 50% opacity */
        z-index: 1;
        /* Ensure it's above the background image but potentially below content */
    }

    & .container.mx-auto {
        /* Assuming this is your "Welcome" header's parent */
        position: relative;
        z-index: 2;
        /* Higher than the pseudo-element's z-index */
    }

    & .heading {
        font-size: 3.75rem;
        color: $primary-color;

    }
}

// Remove post thumbnail
.post-thumbnail {
    display: none;
}

// Fix spacing between paragraphs and images
p+div.wp-block-image,
div.wp-block-image:has(+ p) {
    margin: .5rem;
}

// Fix search bar button position
#_desktop_search>form>div>div.relative.w-full {
    &>label {
        top: 40%;
        left: 2%;
    }

    &>button {
        top: -2px;

        &>span.text-search {
            color: $white;
            font-size: 0.6rem;
        }
    }

}