@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }
}

@layer base {

  ul,
  ol {
    list-style: initial;
    /* Reverts to browser default (disc for ul, decimal for ol) */
    /* You might also want to add default margin/padding back if needed */
    margin-left: 1em;
  }
}