@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl font-libre font-bold my-3;
  }

  h2 {
    @apply text-4xl font-libre font-bold my-3;
  }

  h3 {
    @apply text-3xl font-libre font-normal my-2;
  }

  h4 {
    @apply text-2xl font-libre font-normal my-2;
  }

  h5 {
    @apply text-xl font-libre font-normal my-1;
  }

  h6 {
    @apply text-lg font-libre font-normal my-1;
  }

  body {
    @apply font-lora font-normal text-base;
  }

  .accent-callout {
    @apply font-sacramento font-normal text-[1.3em];
  }

  /* Navigation / Subheads */
  nav, .nav-item, .subhead {
    @apply font-montserrat font-semibold;
    & a {
      @apply no-underline;
    }
  }

  /* Buttons */
  button, .button, .btn {
    @apply font-montserrat font-medium uppercase tracking-[1px];
  }
  ul,
  ol {
    list-style: initial;
    /* Reverts to browser default (disc for ul, decimal for ol) */
    /* You might also want to add default margin/padding back if needed */
    margin-left: 1em;
  }
  a {
    @apply underline;
  }
}

